/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

#factory_brand {
  height:auto;
}

#factory_brand.list-block {
  margin:0px 0px;
}

.inlineBlock {
  display:inline-block !important;
}

#skiLookup , .skiLookupHomePageBtn, #registerBtn, .whiteTransBG {
  background-color: rgba(255, 255, 255, .4) !important;
}

#stockSkiListing_div.content-block-title {
  margin-top:11px;
}

.margin_top_1_5em {
  margin-top:1.5em;
}

#skiSelected {
  border: 1px solid #fff;
  border-radius: 0em;
  padding: .2em;
  background: #FFF;
  margin: .5em 0 0 0;
}

.homeLogo {
  width:20%;
  height:20%;
  margin-bottom: -20px;
}

.home_register_box {
  background-color: rgba(255,255,255,.4);
  border-radius: .5em;
  padding: .5em;
}

.ftSummaryList {
  display: inline-block;
  margin:1em 0 0 0;
}
/*
.navbar {
    background-color: rgba(255,255,255,.75)!important;
}
.navbar:after {
    height:0px!important;
}
*/

.head_setting_table {
  font-size: 1.0em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  color: #000;
  padding: .3em 0em;
}

.data_setting_table {
  font-size: 1.0em;
  padding: .3em 0em;
}

.sm {
  font-size: .95em;
  padding: .25em 0em;
  color: rgba(0, 122, 255, 0.85);
}

.padding_top_5em {
  padding-top:.5em;
}

.padding_bottom_5em {
  padding-bottom:.5em;
}

.padding_bottom_1_5em {
  padding-bottom:1.5em;
}

.padding_left_15px {
  padding-left: 15px;
}

.padding_left_0px {
  padding-left: 0px;
}

.black1_1_heading {
  font-size: 1.1em;
  font-weight: bold;
  color: #000;
}

.stockListRow {
  padding: .25em 0;
}

.white_glow_text {
    text-shadow: 0 0 3px #FFF;
}


#loginError {
    text-align: center;
    color: #F00;
}

.redText {
    color: #F00 !important;
}

.darkGrayText1_1em {
    color: #333 !important;
    font-size: 1.1em;
}

#ul_saved_list {
  background-color: rgba(255,255,255,1);
}

#ul_saved_list li {
  padding-left:12px;
  border-bottom: 1px solid #EEE;
}

.alignLeft {
      text-align: left;
}

.alignRight {
      text-align: right;
}

.lightGreenBG {
  background-color: rgba(229,255,229,.8);
}

#getLocalSettings_div {
  display:none; /* don't show unless div has data */
}

.margin_1em_bottom {
  margin:0 0 1em 0;
}

.margin_1em_top {
  margin:1em 0 0 0;
}

.center {
  text-align: center;
}

.margin-left_1em {
  margin-left: 1em !important;
}

.margin-right_1em {
  margin-right: 1em !important;
}

.margin-right_qarter_em {
  margin-right: .25em !important;
}

.lightBlueBG {
background-color: rgba(33, 150, 243,.1);
}

.measure_table {
  font-size: 1.1em;
  padding: .2em 0em;
  border-bottom:1px solid #333;
  color:#333;
}

.override_lb .content-block {
    margin:34px 0 15px 0 !important;
}

.override_lb .list {
    margin:24px 0 15px 0 !important;
}

#mySettings_div #settingsList {
  margin-bottom:0px !important;
}

#thisSettingNotes {
background-color: rgba(255,255,255,.6);
display:none;
width: 100%;
overflow: scroll;
}

.centerList {
  width:100%;
  text-align: left;
    list-style-position: inside;
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
  padding:.3em .5em;
}

#loginForm .list ul {
  background-color: rgba(255, 255, 255,.5);
}

.bold {
  font-weight: bold;
}

.size-20 { font-size: 20px !important}

.orange {color: rgba(255, 132, 0, .6);}

.top_padding_5 {
  padding: 0 0 .5em 0;
}

.picker-modal-inner .content-block {
  margin-top:17px;
}

#measure_sheet {
  background-color: rgb(251, 240, 228);
  /*background-image: url(../img/water_bg.jpg);*/
}

#measure_sheet .toolbar {
  background-color: rgba(255, 200, 143, 1);
}

.page {
  background-image: url(../img/water_bg.jpg) !important;
}

#loginPage {
  background-image: url(../img/homePageImg1_60_opacity.jpg) !important;
}

#viewHistoryDiv {
  margin-top: 1.2em !important;
}

.page-content {
  background-color: rgba(255,255,255,.3) !important;
  padding-bottom:1em;
}

.popover-inner .content-block {
  margin: 1px 10px !important;
}
.popup .page-content {
  background-color: rgba(255,255,255,1) !important;
}

#profilePage_div .item-media i {
 /*size-20 color-blue*/
  font-size: 20px;
  color:#007aff;
 }

#homeDetails .content-block {
  margin:11px 10px !important;
}

 .page .content-block-title {
   font-weight: bold;
   font-size: 1.25em;
   margin-top:15px;
 }

.page .content-block-title .rightIcon {
  float: right;
  padding-bottom: .15em;
  font-weight: normal;
}

.page .content-block-title .rightText {
  float: right;
  font-weight: normal;
  font-size: initial;
}

.vertAlignMiddle {
  vertical-align: middle;
}








/* DATA TABLES */
.data-table {
  overflow-x: auto;
}

.data-table table {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    text-align: left;
}

.data-table thead {
    font-size: 12px;
    border-bottom: 1px solid #8e8e93;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


.data-table thead td:not(.sortable-active), .data-table thead th:not(.sortable-active) {
    color: #8e8e93;
}

.data-table th.numeric-cell {
    text-align: right;
    padding-left: 0px !important;
}


.data-table td, .data-table th {
    padding: 0;
    position: relative;
    padding-left: 0px;
    padding-right: 15px;
    height: 2.0em;
}

#ulHistory .data-table td, #ulHistory .data-table th {
  height: 1.5em;
}

.data-table td.numeric-cell, .data-table th.numeric-cell {
    text-align: right;
    padding-left: 0px !important;
}

#addNoteSettingsTable .data-table td, #addNoteSettingsTable .data-table .numeric-cell {
  height:.3em !important;
  padding-left: 0px !important;
}

#stockSettings {
    background-color: rgba(255, 255, 255, 0.6);
    padding:0 0 .25em 0;
}
#stockSettings .stockName {
  color: #444;
  font-weight: bold;
  font-size: .8em;
}

#stockSettings .data-table th, #stockSettings .data-table td {
  height:1em !important;
  color: #007aff;
  font-size: .8em;
}

#stockSettingsDiv {
  display:block;
  height:0px;
  opacity:0;
}

#viewStockBtn {
  font-size:.8em;
}

.notesPopUpHistory {
  color: #8e8e93;
  font-size: 12px;
  border-bottom: 1px solid #8e8e93;
  color: #8e8e93;
  font-weight: bold;
  margin: .8em 0 0 0;
}

.notesPopUpDetails {
  margin: 0 0 1.2em 0;
}

.closePopup {
  float: right;
  padding: 1em;
}

.smallText {
  font-size: .9em;
  padding-left: 1.2em;
}

.text_8em {
  font-size: .8em;
}

/* ALTER SLIDER ON MY SETTINGS PAGE */
#settingsAdjuster .range-slider {
  background-size: 100% 9px !important;
  background: linear-gradient(to right,rgba(255, 132, 0, .6) 0,rgba(0, 122, 255, .6) 100%)!important;
  height:34px !important;
  border-radius: 18px !important;
}

#settingsAdjuster .overFlowHidden .item-input {
  width:99% !important;
  margin-top:0 !important;

}

/* turn off range bar on all sliders */
#settingsAdjuster .range-bar {
  display:none;
}
.androidSliderRangeKnob {
  width: 22px !important;
  height: 22px !important;
  left: -5px !important;
  top: -5px !important;
}

.stockText {
  color:#999;
  line-height: .9em;
  font-size: .85em;
}
.slideAdjust {
  display:none;
}

.createdDateText {
  font-weight: normal;
  color: #888;
  text-overflow: ellipsis;
  max-width: 40%;
  overflow: hidden;
}

.lightOrangeBG {
  background-color: rgba(255, 132, 0, .2) !important;
}

.floatLeft {
  float:left;
  margin-right: 1.0em;
}

#settingsAdjuster .item-content .item-inner .floatLeft {
  float:left;
  margin-right:.4em;
  width:4.8em
}

.floatRight {
  float:right;
  margin-left: 1.0em;
}

.overFlowHidden {
  overflow: hidden;
  width: 95%;
}

.checkedRadio {
  font-weight: bold;
}

.measureOverlay {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto auto .7em;
  font-size:.9em;
  color:#007aff;
  background-color: rgba(255, 255, 255, .5);
  display:table;
  border-radius: .7em;
  padding: 0 .7em 0 .7em;
  top: 0;
  margin-left: 1.9em;
}

.content-block {
  margin:18px 0 !important;
}

.padding_l_r_15px {
  padding: 0 15px;
}

.padding_l_r_4em {
  padding: 0 4em !important;
}

#mySettings_div #ul_mySki {
  margin: -37px 0 0 0 !important;
}

#mySettings_div #settingsAdjuster {
  margin: -14px 0 0 0 !important;
}

.list {
  margin:18px 0 !important;
}

.chevronB {
  color: #b6b6bb;
}

.chevronC {
  color: #d2d2e6;
}

.panel.panel-left .content-block {
  padding-left: 1em;
}

#userNameInPanel {
  text-transform: capitalize;
}
.menu_head {
  background-color: #007aff;
  padding: 1em;
  margin: -1.1em -1.1em;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.menu_items {
  margin-top: 2.2em;
  font-size: 17px;
  font-weight: 600;
  color: #007aff;
}

.flushBottom {
  bottom: 0;
  height: 1.5em;
  position: absolute;
  width: 100%;
}

#myLE_POS {
  position: absolute;
  top: 65%;
  left: 6%;
}

#myBindToLE_POS {
  position: absolute;
  top: 65%;
  left: 23%;
}

#summary_POS {
  position: absolute;
  top: 65%;
  left: 47%;
  line-height: 1.2em;
  color: #007aff;
  display:none;
}

.newLeadinEdgeInfo {
  line-height: .5em;
  color: #007aff;
}

#editSkiBtn i {
  font-size:1.2em;
  margin-top: -5px;
  color:inherit;
  height: 100%;
}

.view_history i {
  font-size:1.2em;
  margin-top: -5px;
}

.historyNotes {
  border-bottom:1px solid #444;
  padding: .3em .3em .6em .3em;
}

.historyNotesHdr {
  background-color: rgba(0,0,0,.07);
  border-bottom:1px solid #aaa;
  padding:.3em;
}

.popup-notes>.page-content>.block {
  margin-top:1px !important;
}

#LE_def_POS {
  position: absolute;
  top:10%;
  left:6%;
}

#BLE_def_POS {
  position: absolute;
  top:10%;
  left:20%;
}

#skiCount {
  border-top:1px solid #aaa;
  margin-right: 1em;
  color: #aaa;
}

.txtAreaHeight {
  height:fit-content !important;
  padding:.3em 0 !important;
}

#ski_card .card-content-inner {
  padding: .5em;
}

.logo_36height {
  min-height: 30px;
  max-height: 40px;
  max-width: 50px;
  min-width: 30px;
}

#ul_mySki .item-content .item-inner {
  margin-left: 7px;
}

#ul_mySki .item-content .item-inner a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#reg_ul li .item-media {
  padding-bottom:14px;
}

#tc_toggle > .item-input-wrap, #tc_toggle > .item-after  {
  display: inline-block;
  width: initial;
  padding: .6em .5em .7em 0em;
}

.hide {
  display:none !important;
}

#update_msg {
  font-size: .8em;
  border: 1px solid #f54336;
  padding: .3em;
  display: none;
  background-color: #f54336;
  border-radius: .3em;
}

#versDetails {
  color:#FFF;
}

#versDetails i {
  font-size:1.2em
}
